extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/game.css")
  //- add page specific js

block content
    div(class="title")
        h1= game.gameTitle
    div(class="pic")
        img(src=`../images/${game.gameTitle}.jpg`)
    div(class="genre")
        p= game.primaryGenre
    div(class="description")
        p= game.description
