extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/home.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  each game in games
    a(href=`/games/${game.id}`)
        div(class="game-card")
            img(src=game.picture)
            h4= game.gameTitle
