extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/home.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1(id="title")= title
  each game in games
    a(href=`/games/${game.id}`)
        div(class="game-card")
            img(src=`images/${game.gameTitle}.JPG` class="cover")
            //- h4(class="title")= game.gameTitle
