extends layout.pug
append head 
    title Login
    link(rel="stylesheet", href="/stylesheets/login.css")
include utils.pug

block content
    div(class="wrapper")
        div(class="background")
        div(class="form-container")
                div
                div(class="form-form")
                    +validationErrorSummary(errors)
                    p.form-title Welcome back, Gamer
                    form(action='/login' method='post')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        +field('Email Address', 'email', email)
                        +field('Password', 'hashedPassword', null, 'password')
                        div(class='py-4')
                        button(type='submit' class='btn btn-primary') Login
                        a(href='/' class='btn btn-warning ml-2') Cancel
                    div
                        p: a(href='/signup') Don't have an account?
