extends layout


append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/profile.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)


block content
    div(class="prof-pic-div")
        img(id="pic")
    h3(class="prof-name")= user.fullName
    //- div(class="playing-shelf")
    //-     each game in userGames
    //-         if game.status = 'currently_playing'
    //-             img(class='shelved-game')
    //- div(class="played-shelf")
    //-     each game in userGames
    //-         if game.status = 'have_played'
    //-             img(class='shelved-game')
    //- div(class="want-to-play-shelf")
    //-     each game in userGames
    //-         if game.status = 'want_play'
    //-             img(class='shelved-game')
