extends layout


append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/profile.css")
  //- add page specific js
  script(src="/javascripts/profile.js" type="module" defer)


block content
    div(class="color-wrapper")
        div(class="colorful")
        div(class="wrapper")
            div(class="prof-pic-div")
                img(id="pic")
            h2(class="gameshelves-title") Gameshelves
            h3(class="prof-name")= user.fullName
            div(class='buttons')
                button(class="shelf-btn" id="current") Currently Playing
                button(class="shelf-btn" id="played") Have Played
                button(class="shelf-btn" id="want") Want to Play
        //- div(class="playing-shelf")
        //-     each game in userGames
        //-         if game.status = 'currently_playing'
        //-             img(class='shelved-game')
        //- div(class="played-shelf")
        //-     each game in userGames
        //-         if game.status = 'have_played'
        //-             img(class='shelved-game')
        //- div(class="want-to-play-shelf")
        //-     each game in userGames
        //-         if game.status = 'want_play'
        //-             img(class='shelved-game')
