@keyframes rotate {
    0% {
        transfrom: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.class-wrapper{
    height: 98%;
    width: 98%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    height: 100%;
    width: 100%;
    background: conic-gradient(green, red, blue, green);
}
.form-container{
    height: 98%;
    width: 98%;
    background-color: #23272a;
    position: absolute;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
}
.form-back{
    height: 100%;
    width: 100%;
    background: conic-gradient(green, red, blue, green);
}

.form-form{
    min-height: 100vh;
    background-color: purple;
    display: flex;
        justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form-writes{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.form-title {
	text-shadow: 3px 4px 2px #a74b4b6b;
	font-size: xxx-large;
	text-align: center;
	opacity: 0.7;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group{
    margin: 20px;
}
.form-group label{
    margin: 20px;
}
