@keyframes rotate {
    0% {
        transfrom: rotate(0);
    }
    100% {
        transform: rotate(1080deg);
    }
}
.class-wrapper{
    height: 50%;
    width: 98%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    background: conic-gradient(blue,red,green,blue);
    width: 8000px;
    height: 10000px;
    top: -4500px;
    left: -3500px;
    animation-name: rotate;
    background-size: cover;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: absolute;
}
.form-container{
    height: 98%;
    width: 98%;
    background-color: #23272a;
    position: absolute;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    flex-direction: column;
}
.form-back{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* background: conic-gradient(green, red, blue, green);  */
}

.form-form{
        min-height: 50vh;
        min-width: 50vw;
        background-color: #FFFFD8;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        border-top: 18px solid green;
        border-bottom: 18px solid purple;
        border-left: 18px solid blue;
        border-right: 18px solid red;
}

#form-writes{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-title {
	text-shadow: 3px 4px 2px #a74b4b6b;
	font-size: 30px;
	text-align: center;
	opacity: 0.7;
    margin: 0px;
    margin-bottom: 10px;
}

.form-input {
    margin-bottom: 10px;
}

.wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert{
    display: flex;
    justify-self: center;
    /* align-content: center;  */
}

.alert {
    background-color: #00ffd0;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 25px;
    border-radius: 5%;
    margin-bottom: 5px;
}

.btn-primary {
    background-color: linear-gradient(to left, #FFFFD8, #333 50%, #eee 75%, #333 75%);
}

.form-group{
    margin: 20px;
}
.form-group label{
    margin: 20px;
}
