.prof-pic-div {
    width: 200px;
    height: 200px;
    background-color: rgb(126, 211, 115);
    position: relative;
    display: flex;
}

body {
    background-color: grey;
}

#pic {
    position: relative;
}

.prof-name {
    position: relative;

}

.playing-shelf {
    border: 2px solid black;
    width: 75%;
    height: 200px;
    margin: 5px;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.played-shelf {
    border: 2px solid black;
    width: 75%;
    height: 200px;
    margin: 5px;
    float: right;
    display: flex;
    flex-direction: row;
}

.want-to-play-shelf {
    border: 2px solid black;
    width: 75%;
    height: 200px;
    margin: 5px;
    float: right;
}
